#header{
	border-top: 3px solid #d9232e;
	color: #000000;
}
#header>.nav-header{
	background-color: #fff;
}
#img1{
	width: 15%;
}
.hr_1{
	height: 2px;
	background-color: #e8e8e8;
}
.text_1:hover{
	color: red;
}
.container{
	position: relative;
}
.xiaodian_2{
	width: 21px;
	height: 3px;
	background-color: red;
	margin-left: 900px;
	margin-top: 20px;
}
#mid a{
	text-decoration: none;
}
.xiaodian_3{
	width: 21px;
	height: 3px;
	background-color: #f00;
	margin-left: 80px;
	margin-top: 20px;
}
#dropdown-menu-1{
	width: 4.5rem !important;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link{
	color: #002752;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus{
	color: #000;
}
.navbar-dark .navbar-toggler{
	color:#ff0;
	border-color: #000;
}
.btn-warning:hover{
	background-color: #fff;
	border-color: #000;
}
.btn-warning{
	background-color: #fff;
	overflow: hidden;
}
.btn-warning:focus{
	box-shadow: 0 0 0 0 #000000;
	outline: 0;
}
..btn-warning:active{
	box-shadow: 0 0 0 0 #000;
	outline: 0;
}
.xuanze>.dropdown-toggle{
	color: #000000;
	background-color: transparent;
	border-color: #000;
}
.xuanze>.dropdown-toggle:focus{
	box-shadow: 0 0 0 0 #000;
}	
.navbar .navbar-toggler{
	background-color: #d9232e;
	margin-left: 70%;
}
@media (min-width:576px) and (max-width:768px){
	#navbar{
		position: relative;
	}
	#navbar>.navbar-toggler{
		top: 0;
		right: 0;
		position: absolute;
	}
}
.font_big{
	font-size: 36px;
}
.mbzll{
	position: absolute;
	right: 10%;
	top: 10%;
}
.die_1{
	position: relative;
}
.die_2{
	position: relative;
}
.pic_1:hover{
	transition: all 1s;
	transform: scale(1.1);
}
.overflow{
	overflow: hidden;
	
}
.xiang{
	width: 100%;
	background-color: #F9F9F9;
}
.gougou:hover{
	background-color: #D9232E;
	color: white !important;
}
.xian_1{
	height: 2rem;
}
.bg_D9232E{
	background-color: #d9232e;
}
.colorbule:hover{
	color: #095f8a !important;
}
.font_sma{
	font-size: 14px;
}
.pic_3{
	border: 1px solid #fff;
	padding-top: 0;
}
.r2{
	height: 2px;
	background-color: #000000;
}
.line_1{
	margin-top: 5rem !important;
}
.last_text{
	margin-top: 2rem;
}